
#divCotacaoMoedas {
    width: 450px;
    height: 520px;
    margin-top: 10px;
    margin-right: 5px;
    justify-content:space-around;
    padding: 10px;
    
}
#flags{
    position: relative;
    width: 65px;
    height: 240px;
    margin-top: 130px; 
    border:none;
    margin-left: 60px;
    
}  
ul {
    margin-top: 30px; 
    margin-left: -50px;
    list-style-type: none;

}
li {

    margin-left: 13px;
    text-decoration: none;
    margin-bottom: 10px;
    
}



#cotacao{
    margin-left: 90px;
    display: flex;
    position: relative;
}

#tabelaCotacao{
    margin-top: -350px;
    margin-left: 25px;
    border: solid thin #DCDCDC;
   
    padding: 5px;
    position: relative;
    height: 100%;
}

#graficosCotacao{
    
    width: 62%;
    height: 500px;
    position: relative;
    margin-top: -510px;
    margin-left: 20px;
}

#tableHome{
    position: relative;
    width: 90%;
    margin-left: 50px;
    
}


#tableFechados{
    position: relative;
    width: 90%;
    margin-top: 40px;
    margin-left: 50px;
    
 
}

table {
    border-spacing: 1;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    
}

#tabelaFechados thead {
   background-color: #5F9EA0;
   color: #ffffff
}

#tabelaFechados >tbody>tr:nth-child(odd)>td, 
#tabelaFechados>tbody>tr:nth-child(odd)>th {
   background-color: #F5F5F5;
}

#tabelaHome thead {
    background-color: #FFD700;
    color: #36304a;
}

#calculadora {
    margin-top: -200px;
    margin-right: 70px;
}

#footer{
    
        width: 161%;
        margin-top: 100px;
        bottom: 0;
        position: relative;
        margin-left: -20px;
}

input:checked + .graphColapse{
    height: 100%;
}

label input[type="checkbox"] {
    display: none;
}

#somaTabela {
    border-bottom: solid thin;
    width: 25%;
    height: 25px;
}

.exemplo{
    display: inline;
    background-color:green;
    color: white;
    padding: 2px;
    padding-right: 1px;
    padding-left: 1px;
    
}


